.app-layout{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 3vh 2vw;
}

.nav{
    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.nav-logo{
    width: 6vh;
    height: 6vh;
}

.app-content{
    height: 84vh;
}

.footer{
    width: 96vw;
    display: flex;
    position: fixed;
    bottom: 4vh;
    flex-direction: row;
    justify-content: space-between;    
}


.primary-button{
    border-radius: 30vh;
    font-size: 2.1vh;
    width: 24vh !important;
    display: flex;
    flex-direction: row;
    padding: 1vh 1vh 1vh 3vh; 
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: #91FFB6;
    transition: 0.3s;
}
.primary-button:hover{
    background-color: #7bd097;
}
.primary-button-arrow{
    background-color: black;
    color: white;
    display: flex;
    padding: 2.2vh;
    width: 5.7vh !important;
    height: 5.7vh !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 10vh;
}


.landing-layout{
    display: flex;
    width: 96vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-graphic{
    margin-top: 6vh;
    width: 40vh;
    min-width: 40vh;
    min-height: 25vh;
}
.landing-heading{
    font-size: 8.7vh;
    font-weight: 800;
}
.landing-graphic-underline{
    margin-top: -2vh;
    width: 44vh;
    margin-bottom: 9vh;
}

.search-layout{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
}

.search-background{
    background: url('../assets/img/search_background.png');
    background-size: cover;
    background-position: center;
    padding: 1vw;
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
    margin-bottom: 10vh;
}

.search-forms{
    display: flex; 
    margin-top: 20vh;
    flex-direction: row;
}

.search-locations{
    display: flex;
    background: white;
    border: 1px solid #D1D1D1;
    
    border-radius: 10vw;
    flex-direction: row;
}
.search-locations>input{
    margin: 0vh 0vh !important;
}
.search-divider{
    height: 100%;
    width: 1px;
    background: #D1D1D1;
}
input{
    border: 0;
    outline: none;
    font-family: 'Inter';
}
.search-date{
    display: flex;
    border: 1px solid #D1D1D1;
    background: white;
    padding: 0vh;
    border-radius: 10vw;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-direction: row;
}

.result-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-forms{
    border: 1px solid black;
    padding: 1.4vh 2vh;
    z-index: 1;
    background: white;
    border-radius: 10vw;
}
.result-form{
    margin-top: 0vw;
}

.result-content{
    width: 90vw;
    border-radius: 5vh;
    background-color: #FBFBFB;
    border: 1px solid black;
    height: 70vh;
    margin: -5vh 0 6vh 0; 
    overflow-y: scroll;
    padding-top: 0vh;
    box-sizing: border-box;
}
.result-filters{
    width: 89.9vw;
    background: #FBFBFB;
    padding-top: 9vh;
    border-radius: 4.8vh 4.8vh 0 0;
    padding-bottom: 2vh;
    border-bottom: 1px solid #B2B2B2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.result-content::-webkit-scrollbar {
    width: 0px;
  }

.flights-list{
    margin-top: 14vh;
}

.result-list-item{
    padding: 4vh 0vh;
    cursor: pointer;
    border-top: 1px solid #D1D1D1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-list-item>div{
    margin-right: 8vh;
}

.result-flight{
    font-size: 2.3vh;
    margin-left: 12vh;
    width: 30vh;
    margin-right: 6vh !important;
}

.result-place{
    width: 20vh;
}

.place-code{
    color:#B2B2B2;
    font-size: 1.8vh;
}

.place-name{
    font-size: 2.6vh;
}
.result-detail{
    margin-left: 8vh;
    width: 24vh;
}
.detail-value{
    font-size: 2.4vh;
}
.detail-date{
    font-size:2.2vh;
}
.detail-name{
    font-size: 1.8vh;
    color:#B2B2B2;
}
.result-price{
    font-size: 2.3vh;
    margin-left: 6vh;
    width: 30vh;
}

@media only screen and (max-width: 600px){
    .app-layout{
        padding: 2vh;
    }

    .primary-button{
        border-radius: 30vh;
        font-size: 2.1vh;
        width: 18vh !important;
        display: flex;
        flex-direction: row;
        padding: 1vh 1vh 1vh 3vh; 
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        background-color: #91FFB6;
        transition: 0.3s;
    }
    .primary-button:hover{
        background-color: #7bd097;
    }
    .primary-button-arrow{
        background-color: black;
        color: white;
        display: flex;
        padding: 1.5vh;
        width: 4.7vh !important;
        height: 4.7vh !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 2.5vh;
        height: 2.5vh;
        border-radius: 10vh;
    }
    
    .search-background{
        width: 100vw;
        margin-top: -3vh !important;
        padding-top: 4vh;
        border-radius: 0vh !important;
    }

    .search-forms{
        flex-direction: column !important;
        width: 80vw;
        margin-top: 10vh;
    }
    .search-locations{
        margin-bottom: 3vh;
    }
    .footer{
        position: relative !important;
        bottom: 0vh;
    }
    .result-forms{
        margin-top: 4vh;
        border-radius: 3vh;
        width: 96vw;
    }
    .result-form{
        align-items: center !important;
        margin-top: 0;
        display: flex; 
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center;
        
        flex-wrap: wrap !important;
    }
    .search-date{
        margin-bottom: 0vh;
        margin-left: 0;
    }
    .result-filters{
        width: 95vw;
    }
    .result-filters>button{
        font-size: 3vw;
        padding: 0vh 1vh !important;
    }

    .result-content{
        height: 54vh;
        border-radius: 0 0 3vh 3vh;
        width: 96vw !important;
    }
}